.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  border: 2px solid red;
  height: 350px;
  width: 500px;
}
.bg-light{
  background-color: blue;
  color: red;
}
.bg-dark{
  background-color: brown;
  color: light;
}
.card{
  display: flex;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  color:red;
  background-color: yellow;
}
.disablecard{
  display: flex;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
  color:red;
  background-color: wheat;
}

.counter{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 250px;
  height: 350px;
  justify-content: center;
  align-items: center;
  border: 3px solid gold;
  margin: auto;
}














